<div class="d-flex flex-row justify-content-start align-items-center">
    <div class="status-button-group d-flex justify-content-between align-items-center">
        <input type="checkbox"
               class=""
               [formControl]="taskStatusControl"
               (click)="toggleTaskStatus()">
    </div>
    <div class="task-name mr-2 w-100">
        <div *ngIf="isTaskCompleted()" class="completed-task-text">
            {{this.currentTask.name}}
        </div>
        <input type="text"
               *ngIf="!isTaskCompleted()"
               placeholder="What do you want to do..."
               class="task-name-input form-control border-0 mw-100 w-100"
               [formControl]="taskNameControl"
                (blur)="updateTaskName()">

    </div>
</div>
