<div class="list-container card bg-dark text-white border-info mb-3 bg-primary">
    <div class="list-title card-header">
        {{todoList.name}}
    </div>
    <div class="list-body card-body">
        <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="list-tree" class="card-body bg-dark">
            <mat-tree-node *matTreeNodeDef="let todoTask">
                {{todoTask.name}}
            </mat-tree-node>

            <mat-nested-tree-node *matTreeNodeDef="let todoTask; when: hasSubTasks">
                <ul>
                    <li><ng-container matTreeNodeOutlet></ng-container></li>
                </ul>
            </mat-nested-tree-node>
        </mat-tree>
    </div>
</div>

