<div class="list-container card border-light">
    <div class="list-title card-header bg-light">
        {{todoList.name}}
    </div>
    <div class="card-body bg-secondary">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="bg-secondary">
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                <button class="bg-secondary border-0 text-info">
                    <mat-icon inline aria-hidden="true">drag_indicator</mat-icon>
                </button>
                <app-task-item [todoTask]="node.todoTask"></app-task-item>
            </mat-tree-node>

            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding >
                <button class="bg-secondary border-0 text-info">
                    <mat-icon inline>drag_indicator</mat-icon>
                </button>
                <button matTreeNodeToggle class="bg-secondary border-0 text-info">
                    <mat-icon inline>{{treeControl.isExpanded(node) ? 'unfold_more' : 'unfold_less'}}</mat-icon>
                </button>
                <app-task-item [todoTask]="node.todoTask"></app-task-item>
            </mat-tree-node>
        </mat-tree>
    </div>

