<div class="m-2 border list-container card">
    <div class="list-title card-header bg-secondary text-white">
        <h4>{{todoList.name}}</h4>
    </div>
    <div class="card-body w-100">
        <mat-tree [dataSource]="dataSource"
                  [treeControl]="treeControl"
                  cdkDropList
                  cdkDropListLockAxis = 'y'
                  (cdkDropListDropped)="handleTaskDrop($event)">
            <mat-tree-node *matTreeNodeDef="let node" cdkDrag>
                <div class="todo-list-item d-flex flex-row border border-light w-100">
                    <button class="drag-handle border-0 ml-2 bg-white" cdkDragHandle>
                        <mat-icon inline aria-hidden="true">drag_indicator</mat-icon>
                    </button>
                    <app-task-item matTreeNodePadding
                                   matTreeNodePaddingIndent="15"
                                   class="w-100"
                                   [todoTaskId]="node.id"></app-task-item>
                </div>
            </mat-tree-node>
        </mat-tree>
    </div>
</div>
